<form action="/" method="post">
  {{!-- error message --}}
  {{> messages}}
  <div class="row justify-content-center mt-5">
    <input class="col-10" type="text" name="inputUrl" id="inputUrl" placeholder="Input URL here"
      style="font-size: 1.2em;">
  </div>
  <div class="row justify-content-center mt-3">
    <button class="btn btn-outline-primary" type="submit" id="shorten-btn">Shorten</button>
  </div>
</form>