<div class="row justify-content-center mt-5">
  <div class="col-6">
    <strong style="font-size: 2vw;">Success! Please Use this link:</strong>
  </div>
</div>

<div class="row justify-content-center mt-3">
  <div class="col-6">
    <a id="urlResult" href="{{ shortener }}" target="_blank"
      style="text-decoration: none; color:blue; font-size: 1.5vw">{{ shortener
      }}</a>
  </div>
</div>

<div class="row justify-content-center mt-3">
  <button class="btn btn-primary col-2" type="button" id="copyBtn">Copy</button>
</div>