*{
  margin: 0;
  padding: 0;
}

body{
  width: 80%;
  margin: auto
}

.container{
  margin-top: 6vw;
}

#title-image{
  font-size: 60px;
}

#shorten-btn{
  width: 40%;
}

@media screen and (min-width: 576px){
  #title h2{
    font-size: 35px;
  }

  #title-image{
    font-size: 70px;
  }

  #inputUrl{
    width: 100%;
    font-size: 12px;
  }

  #shorten-btn{
    width:30%
  }
}

@media screen and (min-width: 768px){
  #title h2{
    font-size: 50px;
  }

  #title-image{
    font-size: 90px;
  }

  #inputUrl{
    width: 100%;
    font-size: 24px;
  }

  #shorten-btn{
    width:25%
  }
}